<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Fullstack Sushi</title>
</head>

<body>

    {% extends 'rolls/common.html' %}

    {% block content %}
    <div class="container">
        
        <select class="form-select mt-3" aria-label="Default select example">
            <option selected>Select which roll you want to order</option>
            {% for roll in rolls %}
            <option>{{ roll.name }} roll</option>
            {% endfor %}
        </select>
        
    </div>
    {% endblock %}
    
    
    

    