<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Fullstack Sushi</title>
</head>

<body>
    
    {% extends 'rolls/common.html' %}
    
    {% block content %}
    
    <div class="container my-5 text-center" style="max-width:580px">
        <h1>Sushi per Programmatori!</h1>
        <p class="lead">Concediti ora una favolosa pausa ricca di sapore e di carboidrati. E'
            scientificamente provato: i nostri sushi rolls ti aiutano a scrivere un codice più performante
        </p>
        <a href="{% url 'order' %}" type="button" class="btn btn-primary">Ordina Subito!</a>
        <a href="{% url 'contacts' %}" type="button" class="btn btn-secondary">Contattaci</a>
    </div>
    
    <div class="container">
        <div class="row">
            {% for roll in rolls %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{{ roll.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ roll.name }} Roll</h5>
                        <p class="card-text">
                            {{ roll.price }}
                        </p>
                        <a href="#" class="btn btn-primary">Acquista</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    {% endblock %}
    
    
    
    